<div class="col-lg-12 col-12">
    <!-- small card -->
    <div class="small-box bg-pink">
        <div class="inner">
            <h3>{{\App\Requirement::whereAgencyId(Auth::user()->agency_id)->count()}}</h3>

            <p>Jumlah Biodata</p>
        </div>
        <div class="icon">
            <i class="fas fa-users"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-warning">
        <div class="inner">
            <h3>{{\App\Requirement::whereAgencyId(Auth::user()->agency_id)->where('status', 1)->count()}}</h3>

            <p>Belum Dikirim</p>
        </div>
        <div class="icon">
            <i class="fas fa-box-open"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>{{\App\Requirement::whereAgencyId(Auth::user()->agency_id)->where('status', 2)->count()}}</h3>

            <p>Dikirim</p>
        </div>
        <div class="icon">
            <i class="fas fa-box"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-primary">
        <div class="inner">
            <h3>{{\App\Requirement::whereAgencyId(Auth::user()->agency_id)->where('status', 3)->count()}}</h3>

            <p>Terverifikasi ke-1</p>
        </div>
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-success">
        <div class="inner">
            <h3>{{\App\Requirement::whereAgencyId(Auth::user()->agency_id)->where('status', 4)->count()}}</h3>

            <p>Terverifikasi ke-2</p>
        </div>
        <div class="icon">
            <i class="fas fa-check-double"></i>
        </div>
        <a href="#" class="small-box-footer">
            More info <i class="fas fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
